<div class="row">
  <div class="col-xs-12">
    <form 
      [formGroup]="lockForm"
      (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-xs-12">
          <button mat-raised-button
            color="primary"
            type="submit"
            [disabled]="!lockForm.valid">
            Save
          </button>
          <button mat-raised-button
            color="secondary"
            (click)="onCancel()">
            Cancel
          </button>
          <button mat-raised-button
            color="warn"
            (click)="onDeleteLock()"
            [disabled]="!editMode">
            Delete
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <h3
              *ngIf="editMode">
              Editing: {{ lockName }}
            </h3>
            <h3
              *ngIf="!editMode">
              New Lock
            </h3>
            <label for="name">Lock Name:</label>
            <input 
              type="text"
              id="name"
              formControlName="name"
              class="form-control">
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
