<mat-card
  >
  <div class="row">
    <div class="col-xs-12">
      <mat-card-header>
      <mat-card-title>{{ light.name }}</mat-card-title>  
      </mat-card-header>
      <hr>
      <div class="col-xs-6">
        <mat-slide-toggle 
          name="power"
          (change)="onToggle()"
          [checked]="power"
          >Power</mat-slide-toggle>
      </div>
      <div class="col-xs-6">
        <mat-slider
          *ngIf="power"
          activated="activated"
          name="brightness"
          thumbLabel tickInterval="1"
          min="1"
          max="10"
          step="1"
          (input)="light.powered.brightness = $event.value"
          [value]="(roomState | async).rooms[roomIndex].lights[index].powered.brightness">
      </mat-slider>
      </div>
    </div>
  </div>
</mat-card>

