<!--Base file for the header component. Currently non-functional-->

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a [routerLink]="['/']" class="navbar-brand">My Application!</a>
      </div>
      <div class="navbar-default">
        <ul class="nav navbar-nav">
          <li routerLinkActive="active"><a [routerLink]="['/']">Lights</a></li>
          <li routerLinkActive="active"><a [routerLink]="['/']">Security</a></li>
          <li routerLinkActive="active"><a [routerLink]="['/']">Entertainment</a></li>
          <li routerLinkActive="active"><a [routerLink]="['/']">Cleaning</a></li>
          <li routerLinkActive="active"><a [routerLink]="['/']">Kitchen</a></li>
          <li routerLinkActive="active"><a [routerLink]="['/']">Outdoor</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">          
                <li routerLinkActive="active"><a [routerLink]="['/']">Log in</a></li>
                <li routerLinkActive="active"><a [routerLink]="['/']">Sign up</a></li>
        </ul>
          
      </div>
    </div>
  </nav>



