<a 
[routerLink]="[index]"
style="cursor: pointer;"
class="list-group-item clearfix"
draggable="false">
  <div class="pull-left">
    <h4 class="list-group-item-heading">{{ light.name }}</h4>
    <p class="list-group-item-text">{{ light.description }}</p>
    <hr>
    <!-- Strange bug where when lower toggles on the list are clicked (not swiped) only the top is toggled-->
    <!-- Fixed the bug... giving an id to the power slide-toggle was the cause of the problem -->
    <div class="col-xs-2">
      <label for="power">Power</label>
      <mat-slide-toggle 
        name="power"
        (change)="onToggle()"
        [checked]="onOff"

        ></mat-slide-toggle>
    </div>
    
    <div class="col-xs-10">
        <mat-slider
          *ngIf="onOff"
          activated="activated"
          name="brightness"
          id="brightness"
          thumbLabel tickInterval="1"
          min="1"
          max="10"
          step="1"
          value="1"
          (input)="light.powered.brightness = $event.value"
          [value]="(lightState | async).lights[index].powered.brightness"></mat-slider>
    </div>
  </div>
</a>
