<!-- Can't seem to get the name from the ngrx store.... hopefully I can figure that out later-->

<h3>Sample Security System <-- placeholder {{(securityState | async)}}</h3>
<div class="pull-left">
    <div class="row">
        <div class="col-xs-8">
          <form>
            <div class="row">
              <div class="col-xs-12">
                <mat-slide-toggle
                  name="instantArm"
                  id="instantArm"
                  ngModel>
                  Instant Arm
                </mat-slide-toggle>
                <mat-slide-toggle
                  name="motionSensors"
                  id="motionSensors"
                  ngModel>
                  MotionSensors
                </mat-slide-toggle>
              </div>
            </div>
          </form>
        </div>
      </div>
      
</div>
    <div class="row">
      <div class="col-xs-4">
        <button mat-raised-button
          color="primary">
          Arm
        </button>
        <button mat-raised-button
          color="warn">
          Panic!
        </button>
      </div>
    </div>

<hr>
<div class="row">
  <div class="col-xs-6">
    <app-locks></app-locks>
  </div>
  <div class="vertical-line"></div>
  
  <div class="col-xs-6">
    <app-windows></app-windows>
  </div>
</div>


