<!-- Can't seem to get the name from the ngrx store.... hopefully I can figure that out later-->
<!-- Figured that out ages ago but didn't remember commenting... oh well -->

<!-- Need to figure how to hook up toggle switches with the state of each individual lock/window/security-system -->
<!-- I deed eet! -->

<h3>{{ (securitySystemState | async).name }}</h3>
<div class="container">
  <div 
  class="row"
  *ngIf="(securitySystemState | async).armed">
  <div class="col-xs-12">
    <h3 style="color: Red; font-weight: bolder">ARMED</h3>
    <ul>
      <li
        *ngIf="(securitySystemState | async).alarmSettings.motionSensors"
        style="color: Red; font-weight: bold">Motion Sensors Active</li>
      <li
        *ngIf="(securitySystemState | async).alarmSettings.instantArm"
        style="color: Red; font-weight: bold">Instant Arm</li>
    </ul>
  </div>
</div>
</div>


<div class="pull-left">
    <div class="row">
        <div class="col-xs-8">
          <form>
            <div class="row">
              <div class="col-xs-12">
                <mat-slide-toggle
                  name="instantArm"
                  id="instantArm"
                  [(ngModel)]="instantArm"
                  [checked]="(securitySystemState | async).alarmSettings.instantArm"
                  [disabled]="(securitySystemState | async).armed">
                  Instant Arm
                </mat-slide-toggle>
                <mat-slide-toggle
                  name="motionSensors"
                  id="motionSensors"
                  [(ngModel)]="motionSensors"
                  [checked]="(securitySystemState | async).alarmSettings.motionSensors"
                  [disabled]="(securitySystemState | async).armed">
                  MotionSensors
                </mat-slide-toggle>
              </div>
            </div>
          </form>
        </div>
      </div>
</div>
    <div class="row">
      <div class="col-xs-4">
        <button mat-raised-button
          [disabled]="(securitySystemState | async).armed"
          color="primary"
          (click)="onSubmit()">
          Arm
        </button>
        <button mat-raised-button
          [disabled]="!(securitySystemState | async).armed"
          color="primary"
          (click)="onDisarm()">
          Disarm
        </button>
        <button mat-raised-button
          color="warn"
          (click)="onPanic()">
          Panic!
        </button>
      </div>
    </div>

    
<hr>
<div class="row">
  <div class="col-xs-6">
    <app-locks></app-locks>
  </div>
  <div class="vertical-line"></div>
  
  <div class="col-xs-6">
    <app-windows></app-windows>
  </div>
</div>


